<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>    
    <title>Change Password</title>
</head>
<body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages%}
    {{ message }}
    {% endfor %} {% endif %} {% endwith %}
    <div class="w-full h-screen bg-[url(/static/chngp1.jpg)]  inline-block align-middle "> 
        <nav class="flex justify-end">
            <button class=" bg-sky-600 p-2 rounded-lg  border-2 hover:bg-sky-700 text-black hover:text-white"><a href="/user_login">Return to Home</a></button>
        </nav>
    <form action="{{ url_for("change_password")}}"="" method="post">
        <div class="bg-slate-200 p-6 mx-auto w-fit rounded-2xl shadow-2xl">

            <ul class="p-10 flex-col-reverse justify-end">
              <li class="border-2 rounded-md w-fit p-1 text-center my-3 bg-gray-800 text-gray-200">Enter New Password Below</li>
        <input type="password" id="password" name="password" placeholder="Password">
            </ul>
            <div class="flex justify-center">
                <button type="submit" class="w-fit my-2 bg-gray-500 text-white hover:text-black hover:bg-white cursor-pointer border-black border-2 p-1 rounded-lg">Change Password</button>
               </div>
        </div>
    </form>

    </div>
</body>
</html>