<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>
    <div class="w-screen h-screen bg-[url(/static/homgpeas.jpg)]">
    <nav class="bg-purple-700 h-18">
        <div class="buttons flex space-x-12 justify-end px-20 py-4">
            <button class="bg-white text-xl hover:bg-zinc-700 hover:border-1 hover:text-white rounded-lg cursor-pointer p-1"><a href="user_login">User Login</a></button>
            <button class="bg-white text-xl hover:bg-zinc-700 hover:border-1 hover:text-white rounded-lg cursor-pointer p-1"><a href="login">Admin Login</a></button>
            <!-- <button class="bg-white text-xl hover:bg-zinc-700 hover:border-1 hover:text-white rounded-lg cursor-pointer p-1">Contact Us</button>
            <button class="bg-white text-xl hover:bg-zinc-700 hover:border-1 hover:text-white rounded-lg cursor-pointer p-1">About</button> -->
        </div>    
        </nav>
    </nav>
    </div>
</body>
</html>