<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Thanks For Visiting</title>
</head>
<body>
    <div class="w-screen h-screen bg-[url(/static/thnk1.png)]">
        <nav class="flex justify-around">
            <button class=" bg-sky-600 p-2 rounded-lg  border-2 hover:bg-sky-700"><a href="/">Return to Home</a></button>
        </nav>
    </div>
</body>
</html>