<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Welcome</title>
</head>
<body>
    <div class="w-screen h-screen bg-[url(/static/welca1.png)]">
      <div class="flex justify-end"><button class="w-fit p-1 bg-white rounded-sm my-4 mx-6 border-2 border-black hover:bg-slate-200 "><a href="user_logout">Logout</a></button></div>
         <h1 class="flex justify-center p-10 text-7xl "><div class="bg-sky-200 rounded-r-xl p-3 text-purple-800"> Welcome </div></h1>
         <div class="w-fit p-4  mx-auto bg-white border-4">
            <button class="flex p-1 justify-end bg-violet-500 rounded-lg border-2 border-black hover:bg-violet-400 my-2 mx-auto"><a href="view_eligible_elections">View Current Elections</a></button>
            <button class="flex p-1 justify-end bg-violet-500 rounded-lg border-2 border-black hover:bg-violet-400 my-2 mx-auto"><a href="vote">Vote</a></button>
            <button class="flex p-1 justify-end bg-violet-500 rounded-lg border-2 border-black hover:bg-violet-400 my-2 mx-auto"><a href="view_completed_elections_user">View Completed Elections</a></button>
            <button class="flex p-1 justify-end bg-violet-500 rounded-lg border-2 border-black hover:bg-violet-400 my-2 mx-auto"><a href="change_password">Change Password</a></button>
         </div>
    </div>
</body>
</html>